---
import Link from "@components/astro/ui/link/Link.astro"
import { Icon } from "astro-icon/components"

const networks = [
  {
    name: "Polkadot",
    type: "main",
    description:
      "Felis imperdiet proin fermentum leo. In arcu cursus euismod quis viverra nibh cras pulvinar mattis.",
    icon: "networks/polkadot",
  },
  {
    name: "Kusama",
    type: "canary",
    description:
      "Et egestas quis ipsum suspendisse ultrices gravida. Nisl vel pretium lectus quam id.",
    icon: "networks/kusama",
  },
  {
    name: "Westend",
    type: "test",
    description:
      "Tortor posuere ac ut consequat. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum",
    icon: "networks/westend",
  },
  {
    name: "Paseo",
    type: "test",
    description:
      "Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Praesent tristique magna sit amet.",
    icon: "networks/paseo",
  },
  {
    name: "Rococo",
    type: "test",
    description:
      "Sit amet massa vitae tortor condimentum. Justo laoreet sit amet cursus. Enim facilisis gravida neque convallis a cras semper auctor.",
    icon: "networks/rococo",
  },
]
---

<section class="bg-white dark:bg-gray-900">
  <div
    class="items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid xl:grid-cols-3 lg:gap-8 xl:gap-24 sm:py-16 lg:px-6"
  >
    <div class="mb-8 lg:mb-0">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Polkadot Ecosystem Networks
      </h2>
      <p class="mb-4 text-gray-500 sm:text-xl dark:text-gray-400">
        Sit amet nulla facilisi morbi tempus iaculis. Mauris vitae ultricies leo
        integer malesuada nunc vel risus.
      </p>
      <Link
        href="https://wiki.polkadot.network/docs/build-network-overview"
        class:list="inline-flex items-center text-lg font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700"
      >
        Learn more
        <svg
          class="ml-1 w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </Link>
    </div>
    <div
      class="col-span-2 space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0"
    >
      {
        networks.map((network) => (
          <div>
            <Icon
              name={network.icon}
              class="mb-4 w-10 h-10 lg:h-12 lg:w-12 rounded-full"
            />
            <h3 class="flex items-center mb-2 text-xl font-bold dark:text-white">
              {network.name}
              {network.type === "main" && (
                <span class="ml-2 group h-5 w-5 hover:w-16 overflow-hidden inline-block transition-width duration-300 bg-green-100 text-green-800 text-xs font-medium me-2 px-2 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                  <span class="cursor-default opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                    Mainnet
                  </span>
                </span>
              )}
              {network.type === "canary" && (
                <span class="ml-2 group h-5 w-5 hover:w-28 overflow-hidden inline-block transition-width duration-300 bg-amber-100 text-amber-800 text-xs font-medium me-2 px-2 py-0.5 rounded-full dark:bg-amber-900 dark:text-amber-300">
                  <span class="text-nowrap cursor-default opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                    Canary Network
                  </span>
                </span>
              )}
              {network.type === "test" && (
                <span class="ml-2 group h-5 w-5 hover:w-24 overflow-hidden inline-block transition-width duration-300 bg-fuchsia-100 text-fuchsia-800 text-xs font-medium me-2 px-2 py-0.5 rounded-full dark:bg-fuchsia-900 dark:text-fuchsia-300">
                  <span class="text-nowrap cursor-default opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                    Test Network
                  </span>
                </span>
              )}
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              {network.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
