---
import { Code } from "astro-expressive-code/components"

export const exampleCode = `# install the latest version of rust
rustup default stable
rustup update
# add the wasm build target
rustup target add wasm32-unknown-unknown
# clone the starter blockchain node
git clone git@github.com:substrate-developer-hub/substrate-node-template.git
cd substrate-node-template
# build the node
cargo build --release
# run a local blockchain!
./target/release/node-template --dev`
export const fileName = "Deploy a local Blockchain"
---

<section class="bg-white dark:bg-gray-950">
  <div
    class="max-w-screen-xl px-4 py-8 mx-auto sm:py-16 lg:py-24 pt-20 sm:pt-24 lg:pt-32"
  >
    <div class="grid lg:gap-8 xl:gap-0 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1
          class="max-w-2xl mb-6 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white"
        >
          Build a specialized appchain with the <span
            class="text-primary-700 dark:text-primary-500">Polkadot SDK</span
          >
        </h1>
        <p
          class="max-w-2xl mb-6 text-gray-500 lg:mb-10 md:text-lg lg:text-xl dark:text-gray-400"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <section>
          <div class="max-w-screen-xl mb-4">
            <dl
              class="grid max-w-5xl gap-8 px-4 py-6 mx-auto mt-8 text-center text-gray-900 bg-white border border-gray-200 rounded-lg shadow-lg sm:grid-cols-2 md:grid-cols-3 dark:text-white dark:border-gray-700 dark:bg-gray-800"
            >
              <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold sm:text-4xl">21M+</dt>
                <dd class="text-gray-500 dark:text-gray-400">
                  Blocks Authored
                </dd>
              </div>

              <div
                class="flex flex-col items-center justify-center border-gray-200 lg:border-l dark:border-gray-700"
              >
                <dt class="mb-2 text-3xl font-extrabold sm:text-4xl">6.000s</dt>
                <dd class="text-gray-500 dark:text-gray-400">Block Time</dd>
              </div>

              <div
                class="flex flex-col items-center justify-center border-gray-200 lg:border-l dark:border-gray-700"
              >
                <dt class="mb-2 text-3xl font-extrabold sm:text-4xl">1M+</dt>
                <dd class="text-gray-500 dark:text-gray-400">
                  Transactions Per Day
                </dd>
              </div>
            </dl>
          </div>
        </section>

        <div class="text-sm text-gray-500">
          View real-time performance of the network <a
            href="https://telemetry.polkadot.io/"
            class="text-primary-700 dark:text-primary-500 hover:underline"
            >telemetry.polkadot.io</a
          >
        </div>
      </div>

      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <Code
          code={exampleCode}
          lang="shell"
          title={fileName}
          frame="terminal"
        />
      </div>
    </div>

    <div
      class="grid grid-cols-2 gap-8 mt-12 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6 dark:text-gray-400 sm:mt-16 lg:mt-20"
    >
      <a href="#" class="flex justify-center">
        <svg
          class="h-8 hover:text-gray-900 dark:hover:text-white"
          viewBox="0 0 256 102"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M50.62 101.24C78.5759 101.24 101.24 78.5759 101.24 50.62C101.24 22.664 78.5759 0 50.62 0C22.664 0 0 22.664 0 50.62C0 78.5759 22.664 101.24 50.62 101.24ZM50.8264 96.4893C76.1591 96.4893 96.6934 75.9526 96.6934 50.6224C96.6934 25.2921 76.1591 4.75301 50.8264 4.75301C25.494 4.75301 4.9597 25.2873 4.9597 50.62C4.9597 75.9526 25.494 96.4893 50.8264 96.4893ZM50.62 92.9755C74.0127 92.9755 92.9755 74.0127 92.9755 50.62C92.9755 27.2272 74.0127 8.2645 50.62 8.2645C27.2272 8.2645 8.2645 27.2272 8.2645 50.62C8.2645 74.0127 27.2272 92.9755 50.62 92.9755ZM50.7244 87.8117C71.3204 87.8117 88.0181 71.114 88.0181 50.518C88.0181 29.9219 71.3204 13.2242 50.7244 13.2242C30.1284 13.2242 13.4306 29.9196 13.4306 50.518C13.4306 71.1163 30.126 87.8117 50.7244 87.8117ZM50.4112 57.498C48.3384 57.498 46.3252 57.6712 44.3758 58.0013L47.3769 52.79C48.3906 52.7236 49.4043 52.6904 50.4112 52.6904C52.7687 52.6904 55.1666 52.885 57.4837 53.2578L45.8311 33.0177L26.4318 66.7098L23.6588 61.8951L45.786 23.4639L45.8311 23.5425L45.8741 23.4663L72.5788 69.8461H67.0351L60.7933 59.0055C57.5407 58.0226 54.065 57.498 50.4112 57.498ZM74.3049 66.7904L48.4499 21.8876H53.9936L77.0755 61.9757L74.3049 66.7904ZM48.6447 44.0412L38.0296 62.479C41.8284 61.3298 46.2991 60.817 50.518 60.817C50.8599 60.817 51.2016 60.8217 51.5435 60.8289C53.939 60.8858 56.3609 61.14 58.6804 61.5745L62.2225 67.7261C58.5971 66.4037 54.6727 65.6249 50.518 65.6249C44.3734 65.6249 38.7301 67.149 33.8155 69.7986L33.8938 69.6586L33.787 69.8437H28.2433L45.8741 39.2239L48.6447 44.0412Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M126.802 55.6485H136.083L131.419 42.1251L126.802 55.6485ZM139.732 66.8569L137.666 60.8616H125.173L123.106 66.8569H116.004L127.543 34.274H135.343L146.834 66.8569H139.732Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M154.621 63.3535C152.285 60.966 151.117 57.7972 151.119 53.8473C151.121 49.8973 152.288 46.7294 154.621 44.3434C156.955 41.9524 159.98 40.7575 163.698 40.7594C166.801 40.7594 169.397 41.51 171.488 43.0114C173.579 44.5129 174.974 46.6397 175.673 49.3924H168.676C167.848 47.2812 166.191 46.2253 163.706 46.2253C161.833 46.2253 160.367 46.9065 159.306 48.2691C158.246 49.6313 157.716 51.4908 157.716 53.8473C157.716 56.2072 158.246 58.0674 159.306 59.4281C160.367 60.7888 161.831 61.4656 163.698 61.4585C166.157 61.4585 167.814 60.3873 168.668 58.2446H175.673C175.024 60.7814 173.522 63.0198 171.418 64.5866C169.315 66.1506 166.741 66.9325 163.698 66.9325C159.982 66.9325 156.956 65.7395 154.621 63.3535Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M199.407 59.4774C200.776 58.1307 201.46 56.2799 201.46 53.9253C201.46 51.5707 200.776 49.7191 199.407 48.3706C198.784 47.7333 198.04 47.2261 197.218 46.8791C196.396 46.5322 195.512 46.3524 194.62 46.3502C193.727 46.3481 192.843 46.5235 192.019 46.8665C191.195 47.2095 190.448 47.7128 189.823 48.3471C188.471 49.6817 187.795 51.5256 187.795 53.8784C187.795 56.2314 188.479 58.0909 189.846 59.4566C190.462 60.1007 191.204 60.6137 192.024 60.9649C192.845 61.3161 193.729 61.4983 194.622 61.5001C195.515 61.502 196.399 61.324 197.222 60.9763C198.044 60.6288 198.787 60.1189 199.407 59.4774ZM184.444 63.4814C182.123 60.9823 180.964 57.7912 180.965 53.9071C180.967 50.0234 182.119 46.8483 184.421 44.3824C186.724 41.9131 189.651 40.6784 193.202 40.6784C196.752 40.6784 199.462 42.1382 201.329 45.0576V41.0512H207.869V66.8569H201.329V62.5246C199.366 65.6631 196.64 67.2315 193.152 67.2297C189.665 67.2278 186.762 65.9784 184.444 63.4814Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M215.978 67.1176H222.518V34.5347H215.978V67.1176Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M247.447 59.3733C248.816 58.0266 249.499 56.1758 249.496 53.8212C249.496 51.4666 248.813 49.615 247.447 48.2664C246.825 47.6284 246.079 47.1206 245.256 46.7734C244.437 46.4259 243.553 46.2458 242.66 46.2437C241.766 46.2416 240.883 46.4172 240.057 46.7605C239.235 47.104 238.489 47.6078 237.861 48.243C236.511 49.5741 235.834 51.4178 235.831 53.7742C235.831 56.1307 236.514 57.9899 237.882 59.3525C238.499 59.9968 239.24 60.5104 240.06 60.8621C240.88 61.2138 241.766 61.3962 242.66 61.3984C243.551 61.4005 244.437 61.2225 245.259 60.8748C246.082 60.5273 246.825 60.0174 247.445 59.3759L247.447 59.3733ZM232.575 63.218C230.256 60.7208 229.096 57.5278 229.094 53.6387C229.092 49.7494 230.245 46.5738 232.551 44.1114C234.856 41.6421 237.782 40.4074 241.333 40.4074C244.885 40.4074 247.592 41.8669 249.462 44.7866V40.7905H256V66.5961H249.462V62.2665C247.497 65.3947 244.774 66.9586 241.286 66.9586C237.798 66.9586 234.895 65.7127 232.575 63.2207V63.218Z"
            fill="currentColor"></path>
        </svg>
      </a>

      <a href="#" class="flex justify-center">
        <svg
          class="h-8 hover:text-gray-900 dark:hover:text-white"
          viewBox="0 0 500 200"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M254.273 67.9251C250.908 67.9251 248.18 70.5946 248.18 73.8876V83.8252H266.46L262.398 95.7502H248.18V143.45H235.993V73.8876C235.993 64.0085 244.177 56 254.273 56H268.491L264.429 67.9251H254.273Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M138.496 59.975H168.964C182.425 59.975 193.338 70.6531 193.338 83.8252C193.338 90.4873 190.546 96.5115 186.045 100.839C191.723 105.205 195.369 111.986 195.369 119.6C195.369 132.772 184.456 143.45 170.995 143.45H138.496V59.975ZM150.683 71.9001H168.964C175.694 71.9001 181.151 77.2391 181.151 83.8252C181.151 90.4112 175.694 95.7502 168.964 95.7502H150.683V71.9001ZM150.683 107.675V131.525H170.995C177.726 131.525 183.182 126.186 183.182 119.6C183.182 113.014 177.726 107.675 170.995 107.675H150.683Z"
            fill="currentColor"></path>
          <path
            d="M219.743 59.975H207.556V71.9001H219.743V59.975Z"
            fill="currentColor"></path>
          <path
            d="M219.743 83.8252H207.556V143.45H219.743V83.8252Z"
            fill="currentColor"></path>
          <path
            d="M276.616 83.8252V143.45H288.803V95.7502H305.053L309.115 83.8252H276.616Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M365.988 113.141C365.988 129.88 356.195 143.45 338.567 143.45C320.939 143.45 311.146 129.88 311.146 113.141C311.146 96.4014 320.939 82.8314 338.567 82.8314C356.195 82.8314 365.988 96.4014 365.988 113.141ZM353.801 113.141C353.801 119.345 351.981 124.043 349.51 126.958C347.25 129.622 343.877 131.525 338.567 131.525C333.257 131.525 329.884 129.622 327.625 126.958C325.153 124.043 323.333 119.345 323.333 113.141C323.333 106.937 325.153 102.239 327.625 99.3243C329.884 96.6599 333.257 94.7565 338.567 94.7565C343.877 94.7565 347.25 96.6599 349.51 99.3243C351.981 102.239 353.801 106.937 353.801 113.141Z"
            fill="currentColor"></path>
          <path
            d="M410.684 101.956C410.618 101.112 410.379 100.289 409.982 99.5365C409.546 98.6248 408.976 97.7803 408.291 97.0299C406.854 95.4887 405.014 94.3609 402.97 93.7684C401.878 93.4537 400.754 93.2589 399.618 93.1877C398.371 93.1161 397.121 93.1452 395.879 93.2748C393.741 93.4303 391.683 94.1383 389.916 95.3266C389.316 95.7793 388.815 96.3453 388.443 96.9912C388.129 97.5479 387.931 98.1596 387.859 98.7913C387.864 98.8525 387.864 98.914 387.859 98.9752V99.2075C387.848 99.3912 387.848 99.5754 387.859 99.7591C387.886 100.057 387.952 100.349 388.057 100.63C388.296 101.22 388.664 101.752 389.135 102.188C390.843 103.639 392.83 104.741 394.98 105.43C396.216 105.866 397.521 106.243 398.866 106.592L399.855 106.834L400.943 107.085C401.724 107.25 402.505 107.424 403.297 107.618C404.869 107.995 406.461 108.421 408.103 108.934C409.837 109.447 411.527 110.094 413.156 110.869C415.072 111.782 416.825 112.992 418.348 114.45C420.071 116.132 421.345 118.203 422.057 120.48C422.4 121.544 422.632 122.64 422.749 123.751C422.875 124.834 422.895 125.926 422.808 127.012C422.606 129.293 421.904 131.505 420.751 133.497C419.642 135.4 418.176 137.081 416.43 138.452C414.797 139.719 412.981 140.74 411.04 141.481C407.556 142.74 403.875 143.395 400.162 143.417C396.428 143.595 392.695 143.069 389.165 141.868C385.393 140.534 382.034 138.278 379.404 135.316C378.106 133.838 376.994 132.214 376.091 130.477C375.172 128.659 374.506 126.729 374.113 124.738L385.515 122.986C385.632 123.935 385.892 124.861 386.287 125.735C386.91 127.157 387.822 128.441 388.968 129.507C390.114 130.574 391.469 131.401 392.952 131.938C395.169 132.719 397.521 133.064 399.875 132.955C402.253 132.947 404.606 132.477 406.797 131.571C408.481 130.92 409.88 129.716 410.753 128.164C411.081 127.541 411.28 126.86 411.337 126.161C411.36 125.764 411.36 125.367 411.337 124.97C411.302 124.597 411.233 124.228 411.129 123.867C410.957 123.276 410.645 122.732 410.219 122.28C409.581 121.631 408.84 121.088 408.024 120.673C405.693 119.511 403.225 118.633 400.676 118.06L398.589 117.557L397.442 117.305L396.245 117.034C394.633 116.657 393.012 116.212 391.37 115.67C389.659 115.145 387.99 114.498 386.376 113.734C384.545 112.855 382.847 111.731 381.332 110.395C379.519 108.803 378.121 106.808 377.258 104.579C376.831 103.462 376.546 102.298 376.407 101.114C376.334 100.559 376.295 99.9996 376.288 99.4397V98.5493C376.288 98.2203 376.288 97.9203 376.368 97.5815C376.638 95.2505 377.468 93.0152 378.79 91.0586C380.057 89.1824 381.711 87.5867 383.646 86.3744C387.043 84.3601 390.895 83.1966 394.861 82.9871C396.656 82.825 398.46 82.7894 400.26 82.8807C402.164 82.9886 404.051 83.2968 405.888 83.8001C409.747 84.8241 413.279 86.7886 416.153 89.5101C417.603 90.8911 418.868 92.4453 419.921 94.1362C421.065 95.9663 421.897 97.9669 422.383 100.059L410.684 101.956Z"
            fill="currentColor"></path>
          <path
            d="M433.017 125.563V71.9001H445.204V83.8252H459.422V95.7502H445.204V125.563C445.204 128.856 447.932 131.525 451.298 131.525H459.422V143.45H451.298C441.201 143.45 433.017 135.442 433.017 125.563Z"
            fill="currentColor"></path>
          <g clip-path="url(#clip0_308_87)">
            <path
              d="M81.6236 143.451H41L101.935 83.8252H122.247L81.6236 143.451Z"
              fill="currentColor"></path>
          </g>
          <defs>
            <clipPath id="clip0_308_87">
              <rect
                width="81.2471"
                height="59.6253"
                fill="white"
                transform="translate(41 83.8252)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>

      <a href="#" class="flex justify-center">
        <svg
          class="h-8 hover:text-gray-900 dark:hover:text-white"
          viewBox="0 0 194 45"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.6956 41.8814H51.0276L40.7536 35.5384H7.42163L17.6956 41.8814ZM54.3706 43.7794H17.4256C17.2496 43.7794 17.0776 43.7304 16.9276 43.6384L3.57963 35.3974C3.21863 35.1744 3.04963 34.7384 3.16563 34.3304C3.28063 33.9224 3.65363 33.6404 4.07763 33.6404H41.0226C41.1986 33.6404 41.3716 33.6904 41.5216 33.7814L54.8696 42.0234C55.2306 42.2454 55.3996 42.6814 55.2836 43.0894C55.1676 43.4974 54.7956 43.7794 54.3706 43.7794Z"
            fill="currentColor"></path>
          <mask
            id="mask0_15_38"
            style="mask-type:alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="54"
            height="11"
          >
            <path
              d="M0.830078 0.549805H53.0205V10.6885H0.830078V0.549805Z"
              fill="currentColor"></path>
          </mask>
          <g mask="url(#mask0_15_38)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.3963 8.79056H48.7283L38.4543 2.44756H5.12231L15.3963 8.79056ZM52.0713 10.6886H15.1263C14.9503 10.6886 14.7783 10.6396 14.6283 10.5476L1.28031 2.30656C0.919314 2.08356 0.750314 1.64756 0.866314 1.23956C0.981314 0.831561 1.35431 0.549561 1.77831 0.549561H38.7233C38.8993 0.549561 39.0723 0.599561 39.2223 0.690561L52.5703 8.93256C52.9313 9.15456 53.1003 9.59056 52.9843 9.99856C52.8683 10.4066 52.4963 10.6886 52.0713 10.6886Z"
              fill="currentColor"></path>
          </g>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24.0559 22.2495C24.0279 19.4655 26.2629 17.1855 29.0479 17.1575C31.8319 17.1295 34.1119 19.3645 34.1399 22.1485C34.1679 24.9345 31.9329 27.2135 29.1479 27.2415C26.3639 27.2695 24.0839 25.0345 24.0559 22.2495Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M29.0999 17.9331H29.0559C27.9159 17.9451 26.8489 18.3991 26.0509 19.2121C25.2529 20.0271 24.8199 21.1021 24.8319 22.2421C24.8549 24.5931 26.7789 26.4511 29.1409 26.4661C31.4929 26.4421 33.3879 24.5091 33.3639 22.1571C33.3529 21.0171 32.8979 19.9511 32.0839 19.1531C31.2809 18.3651 30.2229 17.9331 29.0999 17.9331ZM29.0979 28.0181C25.9159 28.0181 23.3119 25.4461 23.2799 22.2571C23.2649 20.7041 23.8549 19.2371 24.9429 18.1261C26.0309 17.0171 27.4859 16.3971 29.0399 16.3821C29.0599 16.3811 29.0809 16.3811 29.1009 16.3811C30.6319 16.3811 32.0749 16.9711 33.1699 18.0441C34.2799 19.1321 34.8999 20.5871 34.9159 22.1411C34.9479 25.3491 32.3639 27.9851 29.1559 28.0171C29.1369 28.0171 29.1179 28.0181 29.0979 28.0181Z"
            fill="currentColor"></path>
          <mask
            id="mask1_15_38"
            style="mask-type:alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="194"
            height="44"
          >
            <path
              d="M0.829712 43.7798H193.179V0.549805H0.829712V43.7798Z"
              fill="currentColor"></path>
          </mask>
          <g mask="url(#mask1_15_38)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M70.8987 29.7679H74.3417V15.9529H70.8987V29.7679Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M80.222 15.9526H85.177L90.595 25.2326H90.616L90.511 15.9526H93.743V29.7676H89.671L83.393 19.0596H83.372L83.456 29.7676H80.222V15.9526Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M102.88 18.6616H98.9542V15.9526H110.23V18.6616H106.323V29.7676H102.88V18.6616Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M115.441 15.9526H125.224V18.6616H118.884V21.7686H123.796V23.8686H118.884V27.0596H125.414V29.7676H115.441V15.9526Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M137.322 22.5454C138.77 22.5454 139.506 21.8954 139.506 20.6134C139.506 19.3964 138.75 18.6614 137.154 18.6614H134.172V22.5454H137.322ZM130.728 15.9524H137.175C140.828 15.9524 142.801 17.4644 142.801 20.0674C142.801 21.8314 142.046 22.9444 140.744 23.3224V23.3644C142.109 23.6794 142.718 24.7714 142.718 26.3244V29.7684H139.274V26.4304C139.274 25.1704 138.812 24.6244 137.51 24.6244H134.172V29.7684H130.728V15.9524Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M148.472 15.9526H151.915V27.0596H158.214V29.7676H148.472V15.9526Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M172.138 24.8131L170.101 18.7661H170.059L168.043 24.8131H172.138ZM172.851 26.9551H167.329L166.384 29.7681H162.857L168.191 15.9531H172.474L177.806 29.7681H173.796L172.851 26.9551Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M184.277 24.4771L178.84 15.9531H183.269L186.293 21.4121H186.355L189.338 15.9531H193.179L187.72 24.4771V29.7681H184.277V24.4771Z"
              fill="currentColor"></path>
          </g>
        </svg>
      </a>

      <a href="#" class="flex justify-center">
        <svg
          class="h-8 hover:text-gray-900 dark:hover:text-white"
          viewBox="0 0 256 102"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M50.62 101.24C78.5759 101.24 101.24 78.5759 101.24 50.62C101.24 22.664 78.5759 0 50.62 0C22.664 0 0 22.664 0 50.62C0 78.5759 22.664 101.24 50.62 101.24ZM50.8264 96.4893C76.1591 96.4893 96.6934 75.9526 96.6934 50.6224C96.6934 25.2921 76.1591 4.75301 50.8264 4.75301C25.494 4.75301 4.9597 25.2873 4.9597 50.62C4.9597 75.9526 25.494 96.4893 50.8264 96.4893ZM50.62 92.9755C74.0127 92.9755 92.9755 74.0127 92.9755 50.62C92.9755 27.2272 74.0127 8.2645 50.62 8.2645C27.2272 8.2645 8.2645 27.2272 8.2645 50.62C8.2645 74.0127 27.2272 92.9755 50.62 92.9755ZM50.7244 87.8117C71.3204 87.8117 88.0181 71.114 88.0181 50.518C88.0181 29.9219 71.3204 13.2242 50.7244 13.2242C30.1284 13.2242 13.4306 29.9196 13.4306 50.518C13.4306 71.1163 30.126 87.8117 50.7244 87.8117ZM50.4112 57.498C48.3384 57.498 46.3252 57.6712 44.3758 58.0013L47.3769 52.79C48.3906 52.7236 49.4043 52.6904 50.4112 52.6904C52.7687 52.6904 55.1666 52.885 57.4837 53.2578L45.8311 33.0177L26.4318 66.7098L23.6588 61.8951L45.786 23.4639L45.8311 23.5425L45.8741 23.4663L72.5788 69.8461H67.0351L60.7933 59.0055C57.5407 58.0226 54.065 57.498 50.4112 57.498ZM74.3049 66.7904L48.4499 21.8876H53.9936L77.0755 61.9757L74.3049 66.7904ZM48.6447 44.0412L38.0296 62.479C41.8284 61.3298 46.2991 60.817 50.518 60.817C50.8599 60.817 51.2016 60.8217 51.5435 60.8289C53.939 60.8858 56.3609 61.14 58.6804 61.5745L62.2225 67.7261C58.5971 66.4037 54.6727 65.6249 50.518 65.6249C44.3734 65.6249 38.7301 67.149 33.8155 69.7986L33.8938 69.6586L33.787 69.8437H28.2433L45.8741 39.2239L48.6447 44.0412Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M126.802 55.6485H136.083L131.419 42.1251L126.802 55.6485ZM139.732 66.8569L137.666 60.8616H125.173L123.106 66.8569H116.004L127.543 34.274H135.343L146.834 66.8569H139.732Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M154.621 63.3535C152.285 60.966 151.117 57.7972 151.119 53.8473C151.121 49.8973 152.288 46.7294 154.621 44.3434C156.955 41.9524 159.98 40.7575 163.698 40.7594C166.801 40.7594 169.397 41.51 171.488 43.0114C173.579 44.5129 174.974 46.6397 175.673 49.3924H168.676C167.848 47.2812 166.191 46.2253 163.706 46.2253C161.833 46.2253 160.367 46.9065 159.306 48.2691C158.246 49.6313 157.716 51.4908 157.716 53.8473C157.716 56.2072 158.246 58.0674 159.306 59.4281C160.367 60.7888 161.831 61.4656 163.698 61.4585C166.157 61.4585 167.814 60.3873 168.668 58.2446H175.673C175.024 60.7814 173.522 63.0198 171.418 64.5866C169.315 66.1506 166.741 66.9325 163.698 66.9325C159.982 66.9325 156.956 65.7395 154.621 63.3535Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M199.407 59.4774C200.776 58.1307 201.46 56.2799 201.46 53.9253C201.46 51.5707 200.776 49.7191 199.407 48.3706C198.784 47.7333 198.04 47.2261 197.218 46.8791C196.396 46.5322 195.512 46.3524 194.62 46.3502C193.727 46.3481 192.843 46.5235 192.019 46.8665C191.195 47.2095 190.448 47.7128 189.823 48.3471C188.471 49.6817 187.795 51.5256 187.795 53.8784C187.795 56.2314 188.479 58.0909 189.846 59.4566C190.462 60.1007 191.204 60.6137 192.024 60.9649C192.845 61.3161 193.729 61.4983 194.622 61.5001C195.515 61.502 196.399 61.324 197.222 60.9763C198.044 60.6288 198.787 60.1189 199.407 59.4774ZM184.444 63.4814C182.123 60.9823 180.964 57.7912 180.965 53.9071C180.967 50.0234 182.119 46.8483 184.421 44.3824C186.724 41.9131 189.651 40.6784 193.202 40.6784C196.752 40.6784 199.462 42.1382 201.329 45.0576V41.0512H207.869V66.8569H201.329V62.5246C199.366 65.6631 196.64 67.2315 193.152 67.2297C189.665 67.2278 186.762 65.9784 184.444 63.4814Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M215.978 67.1176H222.518V34.5347H215.978V67.1176Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M247.447 59.3733C248.816 58.0266 249.499 56.1758 249.496 53.8212C249.496 51.4666 248.813 49.615 247.447 48.2664C246.825 47.6284 246.079 47.1206 245.256 46.7734C244.437 46.4259 243.553 46.2458 242.66 46.2437C241.766 46.2416 240.883 46.4172 240.057 46.7605C239.235 47.104 238.489 47.6078 237.861 48.243C236.511 49.5741 235.834 51.4178 235.831 53.7742C235.831 56.1307 236.514 57.9899 237.882 59.3525C238.499 59.9968 239.24 60.5104 240.06 60.8621C240.88 61.2138 241.766 61.3962 242.66 61.3984C243.551 61.4005 244.437 61.2225 245.259 60.8748C246.082 60.5273 246.825 60.0174 247.445 59.3759L247.447 59.3733ZM232.575 63.218C230.256 60.7208 229.096 57.5278 229.094 53.6387C229.092 49.7494 230.245 46.5738 232.551 44.1114C234.856 41.6421 237.782 40.4074 241.333 40.4074C244.885 40.4074 247.592 41.8669 249.462 44.7866V40.7905H256V66.5961H249.462V62.2665C247.497 65.3947 244.774 66.9586 241.286 66.9586C237.798 66.9586 234.895 65.7127 232.575 63.2207V63.218Z"
            fill="currentColor"></path>
        </svg>
      </a>

      <a href="#" class="flex justify-center">
        <svg
          class="h-8 hover:text-gray-900 dark:hover:text-white"
          viewBox="0 0 500 200"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M254.273 67.9251C250.908 67.9251 248.18 70.5946 248.18 73.8876V83.8252H266.46L262.398 95.7502H248.18V143.45H235.993V73.8876C235.993 64.0085 244.177 56 254.273 56H268.491L264.429 67.9251H254.273Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M138.496 59.975H168.964C182.425 59.975 193.338 70.6531 193.338 83.8252C193.338 90.4873 190.546 96.5115 186.045 100.839C191.723 105.205 195.369 111.986 195.369 119.6C195.369 132.772 184.456 143.45 170.995 143.45H138.496V59.975ZM150.683 71.9001H168.964C175.694 71.9001 181.151 77.2391 181.151 83.8252C181.151 90.4112 175.694 95.7502 168.964 95.7502H150.683V71.9001ZM150.683 107.675V131.525H170.995C177.726 131.525 183.182 126.186 183.182 119.6C183.182 113.014 177.726 107.675 170.995 107.675H150.683Z"
            fill="currentColor"></path>
          <path
            d="M219.743 59.975H207.556V71.9001H219.743V59.975Z"
            fill="currentColor"></path>
          <path
            d="M219.743 83.8252H207.556V143.45H219.743V83.8252Z"
            fill="currentColor"></path>
          <path
            d="M276.616 83.8252V143.45H288.803V95.7502H305.053L309.115 83.8252H276.616Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M365.988 113.141C365.988 129.88 356.195 143.45 338.567 143.45C320.939 143.45 311.146 129.88 311.146 113.141C311.146 96.4014 320.939 82.8314 338.567 82.8314C356.195 82.8314 365.988 96.4014 365.988 113.141ZM353.801 113.141C353.801 119.345 351.981 124.043 349.51 126.958C347.25 129.622 343.877 131.525 338.567 131.525C333.257 131.525 329.884 129.622 327.625 126.958C325.153 124.043 323.333 119.345 323.333 113.141C323.333 106.937 325.153 102.239 327.625 99.3243C329.884 96.6599 333.257 94.7565 338.567 94.7565C343.877 94.7565 347.25 96.6599 349.51 99.3243C351.981 102.239 353.801 106.937 353.801 113.141Z"
            fill="currentColor"></path>
          <path
            d="M410.684 101.956C410.618 101.112 410.379 100.289 409.982 99.5365C409.546 98.6248 408.976 97.7803 408.291 97.0299C406.854 95.4887 405.014 94.3609 402.97 93.7684C401.878 93.4537 400.754 93.2589 399.618 93.1877C398.371 93.1161 397.121 93.1452 395.879 93.2748C393.741 93.4303 391.683 94.1383 389.916 95.3266C389.316 95.7793 388.815 96.3453 388.443 96.9912C388.129 97.5479 387.931 98.1596 387.859 98.7913C387.864 98.8525 387.864 98.914 387.859 98.9752V99.2075C387.848 99.3912 387.848 99.5754 387.859 99.7591C387.886 100.057 387.952 100.349 388.057 100.63C388.296 101.22 388.664 101.752 389.135 102.188C390.843 103.639 392.83 104.741 394.98 105.43C396.216 105.866 397.521 106.243 398.866 106.592L399.855 106.834L400.943 107.085C401.724 107.25 402.505 107.424 403.297 107.618C404.869 107.995 406.461 108.421 408.103 108.934C409.837 109.447 411.527 110.094 413.156 110.869C415.072 111.782 416.825 112.992 418.348 114.45C420.071 116.132 421.345 118.203 422.057 120.48C422.4 121.544 422.632 122.64 422.749 123.751C422.875 124.834 422.895 125.926 422.808 127.012C422.606 129.293 421.904 131.505 420.751 133.497C419.642 135.4 418.176 137.081 416.43 138.452C414.797 139.719 412.981 140.74 411.04 141.481C407.556 142.74 403.875 143.395 400.162 143.417C396.428 143.595 392.695 143.069 389.165 141.868C385.393 140.534 382.034 138.278 379.404 135.316C378.106 133.838 376.994 132.214 376.091 130.477C375.172 128.659 374.506 126.729 374.113 124.738L385.515 122.986C385.632 123.935 385.892 124.861 386.287 125.735C386.91 127.157 387.822 128.441 388.968 129.507C390.114 130.574 391.469 131.401 392.952 131.938C395.169 132.719 397.521 133.064 399.875 132.955C402.253 132.947 404.606 132.477 406.797 131.571C408.481 130.92 409.88 129.716 410.753 128.164C411.081 127.541 411.28 126.86 411.337 126.161C411.36 125.764 411.36 125.367 411.337 124.97C411.302 124.597 411.233 124.228 411.129 123.867C410.957 123.276 410.645 122.732 410.219 122.28C409.581 121.631 408.84 121.088 408.024 120.673C405.693 119.511 403.225 118.633 400.676 118.06L398.589 117.557L397.442 117.305L396.245 117.034C394.633 116.657 393.012 116.212 391.37 115.67C389.659 115.145 387.99 114.498 386.376 113.734C384.545 112.855 382.847 111.731 381.332 110.395C379.519 108.803 378.121 106.808 377.258 104.579C376.831 103.462 376.546 102.298 376.407 101.114C376.334 100.559 376.295 99.9996 376.288 99.4397V98.5493C376.288 98.2203 376.288 97.9203 376.368 97.5815C376.638 95.2505 377.468 93.0152 378.79 91.0586C380.057 89.1824 381.711 87.5867 383.646 86.3744C387.043 84.3601 390.895 83.1966 394.861 82.9871C396.656 82.825 398.46 82.7894 400.26 82.8807C402.164 82.9886 404.051 83.2968 405.888 83.8001C409.747 84.8241 413.279 86.7886 416.153 89.5101C417.603 90.8911 418.868 92.4453 419.921 94.1362C421.065 95.9663 421.897 97.9669 422.383 100.059L410.684 101.956Z"
            fill="currentColor"></path>
          <path
            d="M433.017 125.563V71.9001H445.204V83.8252H459.422V95.7502H445.204V125.563C445.204 128.856 447.932 131.525 451.298 131.525H459.422V143.45H451.298C441.201 143.45 433.017 135.442 433.017 125.563Z"
            fill="currentColor"></path>
          <g clip-path="url(#clip0_308_87)">
            <path
              d="M81.6236 143.451H41L101.935 83.8252H122.247L81.6236 143.451Z"
              fill="currentColor"></path>
          </g>
          <defs>
            <clipPath id="clip0_308_87">
              <rect
                width="81.2471"
                height="59.6253"
                fill="white"
                transform="translate(41 83.8252)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>

      <a href="#" class="flex justify-center">
        <svg
          class="h-8 hover:text-gray-900 dark:hover:text-white"
          viewBox="0 0 194 45"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.6956 41.8814H51.0276L40.7536 35.5384H7.42163L17.6956 41.8814ZM54.3706 43.7794H17.4256C17.2496 43.7794 17.0776 43.7304 16.9276 43.6384L3.57963 35.3974C3.21863 35.1744 3.04963 34.7384 3.16563 34.3304C3.28063 33.9224 3.65363 33.6404 4.07763 33.6404H41.0226C41.1986 33.6404 41.3716 33.6904 41.5216 33.7814L54.8696 42.0234C55.2306 42.2454 55.3996 42.6814 55.2836 43.0894C55.1676 43.4974 54.7956 43.7794 54.3706 43.7794Z"
            fill="currentColor"></path>
          <mask
            id="mask0_15_38"
            style="mask-type:alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="54"
            height="11"
          >
            <path
              d="M0.830078 0.549805H53.0205V10.6885H0.830078V0.549805Z"
              fill="currentColor"></path>
          </mask>
          <g mask="url(#mask0_15_38)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.3963 8.79056H48.7283L38.4543 2.44756H5.12231L15.3963 8.79056ZM52.0713 10.6886H15.1263C14.9503 10.6886 14.7783 10.6396 14.6283 10.5476L1.28031 2.30656C0.919314 2.08356 0.750314 1.64756 0.866314 1.23956C0.981314 0.831561 1.35431 0.549561 1.77831 0.549561H38.7233C38.8993 0.549561 39.0723 0.599561 39.2223 0.690561L52.5703 8.93256C52.9313 9.15456 53.1003 9.59056 52.9843 9.99856C52.8683 10.4066 52.4963 10.6886 52.0713 10.6886Z"
              fill="currentColor"></path>
          </g>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24.0559 22.2495C24.0279 19.4655 26.2629 17.1855 29.0479 17.1575C31.8319 17.1295 34.1119 19.3645 34.1399 22.1485C34.1679 24.9345 31.9329 27.2135 29.1479 27.2415C26.3639 27.2695 24.0839 25.0345 24.0559 22.2495Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M29.0999 17.9331H29.0559C27.9159 17.9451 26.8489 18.3991 26.0509 19.2121C25.2529 20.0271 24.8199 21.1021 24.8319 22.2421C24.8549 24.5931 26.7789 26.4511 29.1409 26.4661C31.4929 26.4421 33.3879 24.5091 33.3639 22.1571C33.3529 21.0171 32.8979 19.9511 32.0839 19.1531C31.2809 18.3651 30.2229 17.9331 29.0999 17.9331ZM29.0979 28.0181C25.9159 28.0181 23.3119 25.4461 23.2799 22.2571C23.2649 20.7041 23.8549 19.2371 24.9429 18.1261C26.0309 17.0171 27.4859 16.3971 29.0399 16.3821C29.0599 16.3811 29.0809 16.3811 29.1009 16.3811C30.6319 16.3811 32.0749 16.9711 33.1699 18.0441C34.2799 19.1321 34.8999 20.5871 34.9159 22.1411C34.9479 25.3491 32.3639 27.9851 29.1559 28.0171C29.1369 28.0171 29.1179 28.0181 29.0979 28.0181Z"
            fill="currentColor"></path>
          <mask
            id="mask1_15_38"
            style="mask-type:alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="194"
            height="44"
          >
            <path
              d="M0.829712 43.7798H193.179V0.549805H0.829712V43.7798Z"
              fill="currentColor"></path>
          </mask>
          <g mask="url(#mask1_15_38)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M70.8987 29.7679H74.3417V15.9529H70.8987V29.7679Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M80.222 15.9526H85.177L90.595 25.2326H90.616L90.511 15.9526H93.743V29.7676H89.671L83.393 19.0596H83.372L83.456 29.7676H80.222V15.9526Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M102.88 18.6616H98.9542V15.9526H110.23V18.6616H106.323V29.7676H102.88V18.6616Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M115.441 15.9526H125.224V18.6616H118.884V21.7686H123.796V23.8686H118.884V27.0596H125.414V29.7676H115.441V15.9526Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M137.322 22.5454C138.77 22.5454 139.506 21.8954 139.506 20.6134C139.506 19.3964 138.75 18.6614 137.154 18.6614H134.172V22.5454H137.322ZM130.728 15.9524H137.175C140.828 15.9524 142.801 17.4644 142.801 20.0674C142.801 21.8314 142.046 22.9444 140.744 23.3224V23.3644C142.109 23.6794 142.718 24.7714 142.718 26.3244V29.7684H139.274V26.4304C139.274 25.1704 138.812 24.6244 137.51 24.6244H134.172V29.7684H130.728V15.9524Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M148.472 15.9526H151.915V27.0596H158.214V29.7676H148.472V15.9526Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M172.138 24.8131L170.101 18.7661H170.059L168.043 24.8131H172.138ZM172.851 26.9551H167.329L166.384 29.7681H162.857L168.191 15.9531H172.474L177.806 29.7681H173.796L172.851 26.9551Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M184.277 24.4771L178.84 15.9531H183.269L186.293 21.4121H186.355L189.338 15.9531H193.179L187.72 24.4771V29.7681H184.277V24.4771Z"
              fill="currentColor"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</section>
