---
import ThemeToggle from "@components/astro/ui/ThemeToggle.astro"
---

<nav class="bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
  <div
    class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg
        class="mr-3 h-8"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1500 1500"
        style="enable-background:new 0 0 1500 1500;"
        xml:space="preserve"
      >
        <style type="text/css">
          .pink {
            fill: #e6007a;
          }
        </style>
        <g>
          <ellipse class="pink" cx="750" cy="192.8" rx="254.3" ry="147.9"
          ></ellipse>
          <ellipse class="pink" cx="750" cy="1307.2" rx="254.3" ry="147.9"
          ></ellipse>
          <ellipse
            transform="matrix(0.5 -0.866 0.866 0.5 -274.5191 467.3369)"
            class="pink"
            cx="267.5"
            cy="471.4"
            rx="254.3"
            ry="147.9"></ellipse>

          <ellipse
            transform="matrix(0.5 -0.866 0.866 0.5 -274.5189 1581.7021)"
            class="pink"
            cx="1232.5"
            cy="1028.6"
            rx="254.3"
            ry="147.9"></ellipse>
          <ellipse
            transform="matrix(0.866 -0.5 0.5 0.866 -478.4619 271.5379)"
            class="pink"
            cx="267.5"
            cy="1028.6"
            rx="148"
            ry="254.3"></ellipse>
          <ellipse
            transform="matrix(0.866 -0.5 0.5 0.866 -70.5762 679.4238)"
            class="pink"
            cx="1232.5"
            cy="471.4"
            rx="148"
            ry="254.3"></ellipse>
        </g>
      </svg>
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Developer Hub</span
      >
    </a>
    <button
      data-collapse-toggle="mega-menu-full-cta"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="mega-menu-full-cta"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      id="mega-menu-full-cta"
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
    >
      <ul
        class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-accent-700 md:p-0 dark:text-white md:dark:hover:text-accent-500 dark:hover:bg-gray-700 dark:hover:text-accent-500 md:dark:hover:bg-transparent dark:border-gray-700"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <button
            id="mega-menu-polkadot-sdk-button"
            data-collapse-toggle="mega-menu-polkadot-sdk-dropdown"
            data-dropdown-placement="bottom"
            class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-accent-600 md:p-0 dark:text-white md:dark:hover:text-accent-500 dark:hover:bg-gray-700 dark:hover:text-accent-500 md:dark:hover:bg-transparent dark:border-gray-700"
            >Polkadot SDK</button
          >
        </li>
        <li>
          <a
            href="/smart-contracts/"
            class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-accent-700 md:p-0 dark:text-white md:dark:hover:text-accent-500 dark:hover:bg-gray-700 dark:hover:text-accent-500 md:dark:hover:bg-transparent dark:border-gray-700"
            >Smart Contracts</a
          >
        </li>
        <li>
          <a
            href="/dapps/"
            class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-accent-700 md:p-0 dark:text-white md:dark:hover:text-accent-500 dark:hover:bg-gray-700 dark:hover:text-accent-500 md:dark:hover:bg-transparent dark:border-gray-700"
            >dApps</a
          >
        </li>
      </ul>

      <span class="block mt-4 md:mt-0 md:ml-4"><ThemeToggle /></span>
    </div>
  </div>
  <div
    id="mega-menu-polkadot-sdk-dropdown"
    class="hidden mt-1 bg-gray-100 border-gray-200 shadow-sm border-y dark:bg-gray-700 dark:border-gray-600"
  >
    <div
      class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm text-gray-500 dark:text-gray-400 md:grid-cols-4 md:px-6"
    >
      <ul
        class="space-y-2 mb-4 md:mb-0"
        aria-labelledby="mega-menu-polkadot-sdk-button"
      >
        <li>
          <h2 class="ml-1 text-xl text-gray-600 dark:text-gray-200">
            <a href="/polkadot-sdk/">Getting Started</a>
          </h2>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Quick Start </a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Install Rust and Polkadot SDK </a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Building with the Polkadot SDK </a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Testing your appchain </a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Deploy your chain </a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Monitoring and upgrading </a>
        </li>
      </ul>
      <ul class="mb-4 space-y-2 sm:block">
        <li>
          <h2 class="ml-1 text-xl text-gray-600 dark:text-gray-200">
            <a href="/polkadot-sdk/tutorials/">Tutorials</a>
          </h2>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Build a Blockchain </a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Build application logic </a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block"> Build a parachain </a>
        </li>
      </ul>

      <ul class="mb-4 space-y-2 sm:block">
        <li>
          <h2 class="ml-1 text-xl text-gray-600 dark:text-gray-200">
            <a href="/polkadot-sdk/reference">Reference</a>
          </h2>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block">Glossary</a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block">Command Line Tools</a>
        </li>
        <li
          class="p-1 hover:bg-gray-300 hover:dark:bg-gray-500 dark:text-gray-200 rounded-lg mr-4"
        >
          <a href="#" class="block">Type Encoding (SCALE)</a>
        </li>
      </ul>

      <div class="mt-4 md:mt-0">
        <h2 class="mb-2 font-semibold text-gray-900 dark:text-white">
          Polkadot SDK Reference Documentation
        </h2>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          Reference documents covering in-depth topics across the Polkadot SDK.
          It is suggested to read these on-demand, while you are going through
          the guides or other content.
        </p>
        <a
          href="https://paritytech.github.io/polkadot-sdk/master/polkadot_sdk_docs/index.html"
          class="inline-flex items-center text-sm font-medium text-accent-600 hover:text-accent-600 dark:text-accent-500"
          target="_blank"
        >
          read the docs
          <svg
            class="w-3 h-3 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
