---

---

<header class="py-8 mx-auto w-full max-w-screen-xl lg:py-12">
  <div class="px-4 w-full max-w-screen-lg">
    <h1
      class="font-display mb-2 max-w-2xl text-2xl font-extrabold leading-tight text-gray-900 dark:text-white sm:text-3xl lg:text-4xl"
    >
      Build a blockchain Tutorial
    </h1>
    <h2
      class="mb-4 max-w-2xl text-xl font-semibold leading-tight text-gray-500 dark:text-gray-400"
    >
      The Build a blockchain tutorials illustrate the basics for working with
      Substrate-based blockchain nodes
    </h2>
    <div class="flex items-center">
      <svg
        class="mr-2 w-3 h-3 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
        ><path
          d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"
        ></path></svg
      >
      <time
        class="text-sm italic text-gray-500 dark:text-gray-400"
        class="uppercase"
        datetime="2022-03-08"
        title="August 3rd, 2022">Last updated: August 3, 2022</time
      >
    </div>
  </div>
</header>
