---
import { LinkPreview, YouTube, Vimeo } from "astro-embed"
---

<h2
  class="font-display text-xl tracking-tight font-extrabold text-gray-900 dark:text-white"
>
  Additional Resources
</h2>
<div
  class="pt-5 grid grid-cols-1 gap-4 sm:grid-cols-3 text-gray-900 dark:text-gray-200"
>
  <div
    class="items-center bg-gray-200 dark:bg-gray-700 px-2 py-2 shadow-sm rounded-sm"
  >
    <LinkPreview id="https://astro.build/blog/welcome-world/" />
  </div>
  <div
    class="items-center bg-gray-200 dark:bg-gray-700 px-2 py-2 shadow-sm rounded-sm"
  >
    <YouTube id="TtRtkTzHVBU" />
  </div>
  <div
    class="items-center bg-gray-200 dark:bg-gray-700 px-2 py-2 shadow-sm rounded-sm"
  >
    <Vimeo id="32001208" />
  </div>
</div>
