---
import { LinkPreview, YouTube, Vimeo } from "astro-embed"
import type { DocsEntry } from "@src/utils/routing/static-paths"
import { type BaseContentCollection } from "@schemas/collections/content/base"

interface Props {
  entry: DocsEntry
}

const { entry } = Astro.props
const { relatedLinks } = entry.data as BaseContentCollection
---

{
  relatedLinks && (
    <>
      <h2 class="font-display text-xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        Additional Resources
      </h2>
      <div class="pt-5 grid grid-cols-1 gap-4 sm:grid-cols-3 text-gray-900 dark:text-gray-200">
        {relatedLinks.map((link) => (
          <div class="items-center bg-gray-200 dark:bg-gray-700 px-2 py-2 shadow-sm rounded-sm">
            <LinkPreview id={link.href} />
          </div>
        ))}
      </div>
    </>
  )
}
