---

---

<section>
  <div
    class="py-16 mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8"
  >
    <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
      <time
        datetime="2020-03-16"
        class="block text-sm leading-6 text-gray-400 dark:text-gray-600"
        >Updated: Mar 16, 2020</time
      >
      <h2
        id="featured-post"
        class="font-display mt-4 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl"
      >
        We’re incredibly proud to announce we have secured $75m in Series B
      </h2>
      <p class="mt-4 text-lg leading-8 text-gray-600 dark:text-gray-200">
        Libero neque aenean tincidunt nec consequat tempor. Viverra odio id
        velit adipiscing id. Nisi vestibulum orci eget bibendum dictum. Velit
        viverra posuere vulputate volutpat nunc. Nunc netus sit faucibus.
      </p>
      <div
        class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col"
      >
        <div class="flex">
          <a
            href="#"
            class="text-sm font-semibold leading-6 text-accent-500"
            aria-describedby="featured-post"
            >Continue reading <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </div>
    </article>

    <div
      class="mx-auto w-full max-w-2xl border-t border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0"
    >
      <div class="-my-6 divide-y divide-gray-900/10">
        <article class="py-4">
          <div class="group relative max-w-xl">
            <time
              datetime="2020-03-16"
              class="block text-sm leading-6 text-gray-400 dark:text-gray-600"
              >Updated: Mar 16, 2020</time
            >
            <h2
              class="font-display mt-2 text-lg font-semibold text-gray-900 dark:text-gray-100 group-hover:text-accent-300"
            >
              <a href="#">
                <span class="absolute inset-0"></span>
                Boost your conversion rate
              </a>
            </h2>
            <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-gray-200">
              Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
              vitae illo. Non aliquid explicabo necessitatibus unde. Sed
              exercitationem placeat consectetur nulla deserunt vel iusto
              corrupti dicta laboris incididunt.
            </p>
          </div>
        </article>

        <article class="py-4">
          <div class="group relative max-w-xl">
            <time
              datetime="2020-03-16"
              class="block text-sm leading-6 text-gray-400 dark:text-gray-600"
              >Updated: Mar 16, 2020</time
            >
            <h2
              class="font-display mt-2 text-lg font-semibold text-gray-900 dark:text-gray-100 group-hover:text-accent-300"
            >
              <a href="#">
                <span class="absolute inset-0"></span>
                Boost your conversion rate
              </a>
            </h2>
            <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-gray-200">
              Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
              vitae illo. Non aliquid explicabo necessitatibus unde. Sed
              exercitationem placeat consectetur nulla deserunt vel iusto
              corrupti dicta laboris incididunt.
            </p>
          </div>
        </article>

        <article class="py-4">
          <div class="group relative max-w-xl">
            <time
              datetime="2020-03-16"
              class="block text-sm leading-6 text-gray-400 dark:text-gray-600"
              >Updated: Mar 16, 2020</time
            >
            <h2
              class="font-display mt-2 text-lg font-semibold text-gray-900 dark:text-gray-100 group-hover:text-accent-300"
            >
              <a href="#">
                <span class="absolute inset-0"></span>
                Boost your conversion rate
              </a>
            </h2>
            <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-gray-200">
              Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
              vitae illo. Non aliquid explicabo necessitatibus unde. Sed
              exercitationem placeat consectetur nulla deserunt vel iusto
              corrupti dicta laboris incididunt.
            </p>
          </div>
        </article>

        <article class="py-4">
          <div class="group relative max-w-xl">
            <time
              datetime="2020-03-16"
              class="block text-sm leading-6 text-gray-400 dark:text-gray-600"
              >Updated: Mar 16, 2020</time
            >
            <h2
              class="font-display mt-2 text-lg font-semibold text-gray-900 dark:text-gray-100 group-hover:text-accent-300"
            >
              <a href="#">
                <span class="absolute inset-0"></span>
                Boost your conversion rate
              </a>
            </h2>
            <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-gray-200">
              Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
              vitae illo. Non aliquid explicabo necessitatibus unde. Sed
              exercitationem placeat consectetur nulla deserunt vel iusto
              corrupti dicta laboris incididunt.
            </p>
          </div>
        </article>

        <!-- More posts... -->
      </div>
    </div>
  </div>

  <div class="py-2 px-4 mx-auto max-w-screen-xl">
    <div class="mx-auto max-w-screen-sm text-center">
      <a
        href="#"
        class="text-white bg-primary-400 hover:bg-primary-200 dark:bg-primary-500 dark:hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none dark:focus:ring-primary-800"
        >See all posts from this collection</a
      >
    </div>
  </div>
</section>
