---
import { type ContentCollectionMeta } from "@schemas/collections/data/content-collections-meta"
import Link from "@components/astro/ui/link/Link.astro"

interface Props {
  meta: ContentCollectionMeta
}

const { meta } = Astro.props

const resources = meta.additionalResources ?? false
---

<>
  {
    resources && (
      <div class="py-5 px-5 bg-gray-50 lg:rounded-lg lg:col-span-3 dark:bg-gray-700">
        <h3 class="mb-4 text-sm font-semibold text-gray-900 dark:text-white">
          Additional Resources
        </h3>
        <ul class="space-y-4 text-sm text-gray-500 dark:text-gray-400">
          {resources.map((resource) => (
            <li>
              <Link
                href={resource.url}
                class:list="flex items-center hover:text-accent-400"
              >
                <span class="flex-shrink-0 w-6 h-6 ">
                  <Fragment set:html={resource.icon} />
                </span>
                <span class="ml-3">{resource.label}</span>
              </Link>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</>
