---
import TableOfContents from "./TableOfContents.astro"
import type { MarkdownHeading } from "astro"

interface Props {
  headings: MarkdownHeading[]
}
---

<aside
  class="fixed top-0 right-0 z-40 w-64 h-screen pt-14 transition-transform translate-x-full bg-white border-l border-gray-200 lg:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Profilebar"
  id="user-drawer"
>
  <div
    class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100"
  >
    <h3 class="text-base font-semibold">On this page</h3>
    <TableOfContents {...Astro.props} />
  </div>
  <div
    class="absolute bottom-0 left-0 justify-center p-4 w-full bg-white dark:bg-gray-800 z-20"
  >
    <p class="text-sm text-gray-500 dark:text-gray-400">Current Progress</p>
    <div class="font-medium text-gray-900 dark:text-white">section 2 of 6</div>
    <div
      class="w-full bg-gray-200 rounded-full h-2.5 mt-2 mb-4 dark:bg-gray-700"
    >
      <div
        id="section-progress-bar"
        class="bg-accent-500 h-2.5 rounded-full"
        style="width: 30%"
        data-current-section="2"
        data-total-sections="6"
      >
      </div>
    </div>
  </div>
</aside>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    window.addEventListener("scroll", () => {
      const mainArticleWrapper = document.getElementById("main-article-wrapper")
      const progressBar = document.getElementById("section-progress-bar")

      if (mainArticleWrapper && progressBar) {
        const currentSection = Number(progressBar.dataset.currentSection)
        const totalSections = Number(progressBar.dataset.totalSections)

        const offsetScrollPosition =
          window.scrollY + document.documentElement.clientHeight * 0.25
        const articleBottomEdge =
          mainArticleWrapper.offsetTop + mainArticleWrapper.offsetHeight
        let completedPercentage =
          (offsetScrollPosition / articleBottomEdge) * 100
        completedPercentage =
          completedPercentage > 100 ? 100 : completedPercentage

        const totalCompletedPercentage =
          (currentSection / totalSections) * 100 +
          completedPercentage / totalSections

        progressBar.setAttribute("style", `width: ${totalCompletedPercentage}%`)
      }
    })
  })
</script>
