---
import TableOfContents from "./TableOfContents.astro"
import Progress from "./Progress.astro"
import type { MarkdownHeading } from "astro"
import type { DocsEntry } from "@src/utils/routing/static-paths"

interface Props {
  entry: DocsEntry
  headings: MarkdownHeading[]
}
---

<aside
  class="fixed top-0 right-0 z-40 w-64 h-screen pt-14 transition-transform translate-x-full bg-white border-l border-gray-200 lg:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Profilebar"
  id="user-drawer"
>
  <div
    class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100"
  >
    <h3 class="text-base font-semibold">On this page</h3>
    <TableOfContents {...Astro.props} />
  </div>
  <Progress {...Astro.props} />
</aside>
