---
import { ContentCollections } from "@config/collections"
import type { ContentCollectionKey } from "astro:content"

interface Props {
  collection: ContentCollectionKey
}

const { collection } = Astro.props
const resources = ContentCollections[collection].additionalResources ?? false
---

{
  resources && (
    <>
      <div class="pt-5 pl-2 mt-5 mb-4 text-sm text-gray-500 border-t border-gray-200 dark:text-gray-400 dark:border-gray-700">
        <h3>Additional Resources</h3>
      </div>
      <ul class="space-y-2">
        {resources.map((resource) => (
          <li>
            <a
              href={resource.url}
              class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
            >
              <span class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                <Fragment set:html={resource.icon} />
              </span>

              <span class="ml-3">{resource.label}</span>
            </a>
          </li>
        ))}
      </ul>
    </>
  )
}
